.str_wrap {
    position: relative;
    width: 100%;
    cursor: grab;

	user-select: none;
    touch-action: pan-y;
}

.str_wrap.is-dragging {
    cursor: grabbing;
}

.str_wrap a {
    -webkit-user-drag: none; 
}

.str_move {
    display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: nowrap;
    white-space: nowrap;
    will-change: transform;
}

.str_item {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: nowrap;
	flex-shrink: 0;
}

.str_wrap.destroyed {
    overflow: visible;
    position: static;
}