@media (max-width: 1319px)
{
	.our-team__grid .our-team__name{
		font-size: 22px;
	}

	.our-team__grid .our-team__position{
		font-size: 14px;
	}


	.contacts__items{
		width: 800px;
	}

	.contacts__item{
		margin-left: 20px;
		width: calc(100% / 3 - 20px);
	}
	
	/*------------
		commit
	------------*/

	.page-title
	{
		font-size: 62px;
	}
	
	.page-title span 
	{
		font-size: 38px;
	}

	.links-nav__item + .links-nav__item 
	{
        margin-left: 2%;
    }


	.stc-info__img-val
	{
		font-size: 220px;
		top: -32px;
	}

	.employee-item__name 
	{
		font-size: 26px;
	}

	.employee-item__spec
	{
		font-size: 14px;
	}

	.development__fact-title 
	{
        font-size: 26px;
    }

	.development__fact-val 
	{
        font-size: 32px;
    }

	.development__fact-img 
	{
		right: -20px;
		aspect-ratio: 1 / .9;
	}


	.about-info__img 
	{
		width: 55%;
	}

	.about-info__wrap
	{
		width: 45%;
	}


	.sales-geography__coll 
	{
		width: calc(75% - 22px);
	}

	.sales-geography__colr
	{
		width: calc(25% - 22px);
	}


	.sales-geography__item + .sales-geography__item
	{
		margin-top: 32px;
		padding-top: 30px;
	}

	.sales-geography__val
	{
		font-size: 64px;
	}


	.stc-services_marg 
	{
		margin-top: 60px;
	}

	.stc-services__item
	{
		width: calc(50% - 10px);
	}

	.stc-services__name
	{
		padding-right: 40px;
	}
	
	.stc-services__name::after
	{
		right: 24px;
	}

	@media (any-hover: hover)
	{
		.stc-services__item:hover .stc-services__name::after
		{
			right: 16px;
		}
	}


	.our-production__item
	{
		width: calc(100% / 2 - 15px);
	}


	.vacancies__price
	{
		font-size: 28px;
	}


	.download-present__colr
	{
		padding-top: 13%;
	}


	.main-banner__big-text
	{
		font-size: 300px;
	}
}