@media (max-width: 1199px)
{
	.header__city{
		margin-left: 30px;
	}

	.header__logo img{
		width: 140px;
	}

	.header__contacts{
		gap: 20px;
	}

	.header__btns{
		margin-left: 30px;
	}


	.page-title{
		font-size: 62px;
	}

	.paints-var__item {
		width: calc(100% / 2 - 24px);
	}

	.advantages__top{
		flex-wrap: wrap;
	}

	.advantages__top .main-title br{
		display: none;
	}

	.advantages__top-desc{
		width: 100%;
		max-width: none;
		margin: 20px 0 0;
	}


	.new-partners__bg{
		min-height: 1px;
		padding: 60px 20px;
	}

	.main-info__title{
		font-size: 20px;
	}

	.write-us__coll{
		padding-top: 80px;
		width: calc(41% - 15px);
	}

	.write-us__colc {
		width: calc(25% - 15px);
	}

	.write-us__img {
		aspect-ratio: 1 / 1.5;
	}

	.write-us__colr{
		padding: 80px 0 120px;
	}

	.reviews__coll {
		width: calc(50% - 15px);
	}

	.reviews__colr {
		width: calc(50% - 15px);
	}

	.paint-suitable__grid._flex .paint-suitable__item {
		width: calc(100% / 2 - 24px);
	}


	.main-form__cols{
		margin-left: 0;
	}

	.main-form__title{
		margin-top: 0;
	}

	.main-form .form__bot{
		flex-wrap: wrap;
	}

	.main-form .form__agree{
		width: 100%;
	}

	.main-form .form__submit{
		margin: 20px 0 0;
	}

	.main-form__bg{
		background: #23809E;
	}

	.main-form__img {
		object-position: 24% 50%;
	}

	.main-form__img.loaded{
		opacity: .5;
	}


	.partners__slide{
		margin-right: 50px;
	}

	.partners__status
	{
		left: -12%;
		font-size: 12px;
		line-height: 24px;
		padding-left: 14px;
		padding-right: 14px;
		margin-bottom: 10px;
	}


	.footer__colr{
		width: 100%;
		padding-top: 0;
		margin-top: 30px;
	}

	.our-team__grid .our-team__name {
		font-size: 18px;
	}

	.contacts__sector{
		flex-wrap: wrap;
	}

	.contacts__items{
		width: calc(100% + 20px);
		margin: 30px 0 0 -20px;
	}

	.main-article__wrap{
		min-height: 590px;
		padding: 30px;
	}

	.article-product__title{
		font-size: 42px;
	}

	.article-product__title span{
		font-size: 26px;
	}
	/*------------
		commit
	------------*/

	.sub-title
	{
		font-size: 18px;
	}

	.page-title
	{
		font-size: 54px;
	}
	
	.page-title span 
	{
		font-size: 32px;
	}


	.main-banner__wrap 
	{
        min-height: 520px;
    }

	.main-banner__big-text 
	{
		font-size: 260px;
	}



	.links-nav__item
	{
		font-size: 12px;
	}

	.links-nav__item a
	{
		height: 60px;
	}


	.confessions__big-year
	{
		font-size: 42px;
	}



	.history-main__title
	{
		font-size: 28px;
	}

	.history-main__item:first-child 
	{
		padding-right: 50px;
	}

	.history-main__item:last-child
	{
		padding-left: 50px;
	}


	.stc-info__coll 
	{
		width: calc(37% - 12px);
	}

	.stc-info__colr 
	{
		width: calc(63% - 12px);
	}

	.stc-info__wrap
	{
		margin-top: 5px;
	}

	.stc-info__item
	{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
	}

	.stc-info__val 
	{
		font-size: 50px;
	}

	.stc-info__name
	{
		margin-top: 40px;
	}

	.stc-info__img-val 
	{
		font-size: 200px;
		top: -35px;
	}

	.development__coll 
	{
		width: calc(45% - 20px);
	}

	.development__colr
	{
		width: calc(55% - 20px);
	}

	.development__item
	{
		width: calc(50% - 5px);
	}

	.get-consult .stc-services__name 
	{
		font-size: 20px;
	}

	.form-recommend__title 
	{
		font-size: 30px;
	}
	

	.about-info__img 
	{
		width: 50%;
	}

	.about-info__wrap 
	{
		width: 50%;
		padding-top: 20px;
		padding-left: 30px;
	}


	.history__bg
	{
		height: 160px;
		padding: 35px;
	}


	.sales-geography__val 
	{
		font-size: 50px;
	}


	.stc-section__item
	{
		width: calc(100% / 2 - 20px);
	}

	.employee-item__info
	{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		width: 78%;
	}
	

	.vacancies__name
	{
		font-size: 22px;
	}

	.vacancies__price
	{
		font-size: 26px;
	}


	.download-present__bg-wrap
	{
		height: calc(100% - 85px);
	}


	.accord-box__title
	{
		font-size: 22px;
	}

	.accord-box__open
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}


	.success-stories-slider .our-team__name
	{
		font-size: 18px;
	}
}