@media (max-width: 1400px)
{
	.header__city{
		margin-left: 40px;
	}

	.achievements__number1 {
		top: -10px;
		left: 34px;
		font-size: 260px;
	}

	.achievements__number2 {
		top: -48px;
		right: -70px;
		font-size: 300px;
	}

	.achievements__number3 {
		top: -52px;
		right: -40px;
		font-size: 280px;
	}

	.achievements__number4 {
		top: -52px;
		right: -110px;
		font-size: 280px;
	}


	.paints-var__item{
		padding-left: 20px;
		padding-right: 20px;
	}

	.paints-var__name-box {
        width: 110px;
    }

	@media (any-hover: hover)
	{
		.paints-var__item:hover .paints-var__name
		{
			font-size: 18px;
		}
	}


	.main-title{
		font-size: 32px;
	}

	.middle-title{
		font-size: 26px;
	}

	.reviews__title{
		font-size: 30px;
	}

	.advantages__item{
		padding-left: 20px;
		padding-right: 20px;
	}

	.advantages__icon{
		margin-left: 20px;
	}


	.main-info__item{
		padding: 20px;
	}

	.write-us__coll {
   		width: calc(35% - 15px);
	}

	.write-us__coll-box{
		padding-left: 0;
	}

	.write-us__colr{
		width: calc(35% - 15px);
	}

	.write-us__desc br{
		display: none;
	}

	.write-us__colc {
    	width: calc(31% - 15px);
	}

	.write-us__img img{
		margin-left: 20px;
	}


	.paint-suitable__item{
		padding: 20px;
	}

	.paint-suitable__img-abc{
		height: 120px;
	}

	.paint-suitable__info {
    	width: calc(59% - 20px);
	}


	.select-city__top{
		padding: 20px;
	}

	.select-city__info{
		padding: 20px;
	}

	.select-city__box{
		padding: 20px;
	}

	.select-city__wrap{
		width: 317px;
	}


	.partners__slide{
		margin-right: 60px;
	}

	.partners__status{
		left: -15%;
	}


	.teams-leed__colr{
		padding-bottom: 30px;
	}

	.teams-leed__slider{
		margin-left: auto;
	}

	.teams-leed__slider .swiper-slide {
		min-height: 260px;
	}


	.footer__colr {
        width: 326px;
    }

	.footer__coll{
		width: 230px;
	}

	.footer__contacts-phone{
		font-size: 24px;
	}

	.footer-menu {
        column-gap: 30px;
    }

	.main-article__wrap::after{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		background: linear-gradient(180deg, rgba(58, 59, 85, 0.7) 0%, rgba(58, 59, 85, 0.7) 100%);
		z-index: 1;
	}

	.info-section__colr{
		padding: 30px;
	}

	.info-section__box{
		max-width: 80%;
	}
    /*------------
		commit
	------------*/

	.page-title
	{
		font-size: 66px;
	}
	
	.page-title span 
	{
		font-size: 42px;
	}


	.confessions__item
	{
		margin-top: 30px;
	}

	.confessions__item._big .confessions__big-year 
	{
		font-size: 50px;
	}

	.confessions__desc
	{
		font-size: 16px;
	}

	.confessions__item._big .confessions__desc
	{
		font-size: 18px;
	}


	.text-block h1, 
	.text-block .title
	{
		font-size: 36px;
	}

	.text-block h2
	{
		font-size: 32px;
	}


	.stc-info .employee-item__info 
	{
		padding: 20px;
	}

	.employee-item__name
	{
		font-size: 28px;
	}

	.stc-info__val
	{
		font-size: 56px;
	}


	.get-consult .stc-services__name
	{
		font-size: 24px;
	}


	.form-recommend__title 
	{
        font-size: 36px;
    }


	.download-present__title 
	{
        font-size: 32px;
    }

	.download-present__colr
	{
		max-width: 770px;
	}


	.our-production__coll 
	{
        width: calc(48% - 12px);
    }

	.our-production__colr 
	{
		width: calc(52% - 28px);
	}


	.achiev-awards__info-box 
	{
        width: 340px;
    }

	.achiev-awards__slider 
	{
        padding-left: 380px;
    }

	.achiev-awards__name
	{
		font-size: 24px;
	}


	.history-main__title
	{
		font-size: 30px;
	}


	.development__slider
	{
		padding-right: 85px;
	}

	.development__slider .slider-button-next
	{
		right: 110px;
		bottom: 20px;
	}

	.development__slider .slider-button-prev
	{
		right: 155px;
		bottom: 20px;
	}


	.paints-var.paints-var_inner .paints-var__name-box 
	{
        width: 220px;
    }

	.paints-var.paints-var_inner .paints-var__img-box::before 
	{
        bottom: -1%;
    }

	.products__title
	{
		padding-left: 0;
		padding-right: 0;
	}


	.products-found__item
	{
		padding: 25px;
	}

	.products-found__name 
	{
        font-size: 24px;
    }

	.products-found__desc
	{
		margin-top: 10px;
	}

	.products-found__btn .btn-red
	{
		min-width: 1px;
	}


	.often-bought__item
	{
		padding-left: 1.5%;
		padding-right: 1.5%;
		padding-bottom: 1.8%;
	}
}