@media (max-width: 1319px)
{
	.our-team__grid .our-team__name{
		font-size: 22px;
	}

	.our-team__grid .our-team__position{
		font-size: 14px;
	}
	
	/*------------
		commit
	------------*/

	.page-title
	{
		font-size: 62px;
	}
	
	.page-title span 
	{
		font-size: 38px;
	}

	.links-nav__item + .links-nav__item 
	{
        margin-left: 2%;
    }


	.stc-info__img-val
	{
		font-size: 220px;
		top: -32px;
	}

	.employee-item__name 
	{
		font-size: 26px;
	}

	.employee-item__spec
	{
		font-size: 14px;
	}

	.development__fact-title 
	{
        font-size: 26px;
    }

	.development__fact-val 
	{
        font-size: 32px;
    }

	.development__fact-img 
	{
		right: -20px;
		aspect-ratio: 1 / .9;
	}
}