@media (max-width: 1023px)
{
	body{
		font-size: 14px;
		line-height: 1.3;
	}
	
	._lock-menu{
		overflow: hidden;
	}

	.header__top{
		padding-top: 0;
		padding-bottom: 20px;
	}

	.header__top .cont{
		align-items: flex-end;
		align-content: flex-end;
	}

	.header__top .header__city{
		display: none;
	}

	.header__top .header__change{
		display: none;
	}

	.header__contacts{
		gap: 10px;
	}

	.header__top .header__phone a{
		font-size: 0;
		width: 40px;
		height: 40px;
		display: block;
		padding: 0;
	}

	.header__top .header__phone a::before{
		left: 0;
		top: 0;
		margin-top: 0;
		border: 1px solid #e0e7ee;
		border-radius: 4px;
		width: 100%;
		height: 100%;
	}

	.header__top .header__mail{
		display: none;
	}

	.header .btn-red{
		line-height: 40px;
		padding: 0 20px;
		font-size: 12px;
	}

	.header__btns{
		margin-left: 10px;
		gap: 10px;
	}

	.header__btn{
		width: 40px;
		height: 40px;
	}
	
	.mob-menu-btn{
		border: 1px solid #e0e7ee;
		border-radius: 4px;
		padding: 10px 12px;
		padding: 0 45px 0 11px;
		height: 40px;
		display: block;

		font-size: 12px;
		line-height: normal;
		color: #3a3b55;
		margin-left: 10px;
		position: relative;
	}

	.mob-menu-btn__burger{
		position: absolute;
		right: 13px;
		top: 50%;
		width: 26px;
		height: 26px;
		margin-top: -13px;
		position: absolute;
		right: 11px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
	}

	.mob-menu-btn__burger span{
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 1px;
		background: #3A3B55;
	}

	.mob-menu-btn__burger span + span{
		margin-top: 5px;
	}

	.mob-menu-btn__burger span:nth-child(2n){
		width: 18px;
	}

	.header__bot{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		padding: 72px 0 20px;
		overflow: hidden;
		overflow-y: auto;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: opacity .2s linear, visibility .2s linear;
	}

	.header__bot._show{
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	.close-menu-btn{
		position: absolute;
		top: 20px;
		right: 20px;
		width: 24px;
		height: 24px;
		background: url(../images/ic_close.svg) 50% no-repeat;	
	}

	.header__bot-top{
		display: block;
		padding-bottom: 20px;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		background: #fff;
		z-index: 10;
	}

	.header__logo{
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
	}

	.header__menu{
		display: block;
		margin-top: 20px;
	}

	.header__menu-item{
		margin-top: 20px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.header__menu-item_ind{
		display: none;
	}

	.header__menu-item_biz{
		display: none;
	}
	
	.header__menu-item_biz._show{
		display: flex;
	}

	.header__menu-link{
		line-height: 1.3;
		font-size: 16px;
	}

	.header__menu-link_opt{
		line-height: 40px;
		padding: 0 20px;
	}

	.header__bot-contacts{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.header__bot-contacts{
		margin-top: 40px;
	}

	.header__city{
		margin-left: 0;

		line-height: 1.3;
	}

	.header__city span{
		border: none;
	}

	.header__phone{
		line-height: 1.3;
	}

	.header__mail{
		line-height: 1.3;
		padding-left: 23px;
		text-align: left;
		margin-top: 5px;
	}

	.header__bot .header__change{
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		gap: 0;
		margin-top: 20px;
	}

	.header__change{
		border: 1px solid #8D95A1;
		border-radius: 2px;
		width: 100%;
		margin: 0;
		padding: 2px;

		font-size: 14px;
		line-height: 38px;
		color: #3A3B55;
	}

	.header__change span{
		display: block;
		width: calc(50% - 3px/2);
		border-radius: 2px;
		color: #fff;
		background: #CD1719;
	}

	.header__change span + span{
		color: #3A3B55;
		background: transparent;
	}

	.header__change._active span{
		color: #3A3B55;
		background: transparent;
	}

	.header__change._active span + span{
		color: #fff;
		background: #CD1719;
	}


	.page-title{
		font-size: 42px;
	}

	.sub-title{
		font-size: 16px;
		line-height: 1.3;
		margin-top: 10px;
	}


	.first-section::before{
		display: none;
	}

    .main-slider__product.first
    {
        left: calc((86.91% + 370px)*-1);
    }

    .main-slider__product.prev
    {
        left: calc((86.91% + 50px)*-1);
    }

    .main-slider__product.last
    {
        left: calc(100% + 370px);
    }

    .main-slider__product.next
    {
        left: calc(100% + 50px);
    }

	.wheelSlider-container .wheelSlider-arrow{
		display: none;
	}


	.achievements_marg{
		margin-top: 20px;
	}

	.achievements__item{
		width: calc(50% - 10px);
		padding: 20px;
		margin-top: 20px;
		min-height: 300px;
	}

	.achievements__item._pad-bottom{
		padding-bottom: 20px;
	}

	.achievements__item._big{
		width: calc(50% - 10px);
	}

	.achievements__item .middle-title {
		font-size: 20px;
	}

	.achievements__desc br{
		display: none;
	}

	.achievements__number1 {
		top: -10px;
		left: 20px;
		font-size: 180px;
	}

	.achievements__number2 {
		top: -35px;
		right: -80px;
		font-size: 240px;
	}

	.achievements__number3 {
		top: -32px;
		right: -28px;
		font-size: 200px;
	}

	.achievements__number4 {
		top: -32px;
		right: -94px;
		font-size: 220px;
	}



	.paints-var__grid{
		margin: 10px 0 0 -20px;
	}

	.paints-var__item {
		width: calc(100% / 2 - 20px);
		margin: 20px 0 0 20px;
	}

	.paints-var__img-box::before{
		bottom: -4.5%;
	}

	.paints-var__name-box {
		width: 100px;
	}

	.paints-var__name{
		font-size: 16px;
	}

	.main-title {
		font-size: 26px;
		line-height: 1.2;
	}


	.advantages__wrap{
		margin-top: 30px;
		overflow: visible;
	}

	.advantages__wrap .advantages__item{
		width: 280px;
	}

	.advantages__item{
		padding: 20px;
		min-height: 140px;
	}

	.advantages__icon {
		margin-left: 16px;
	}

	.advantages__name{
		line-height: 1.3;
		font-size: 16px;
	}

	.advantages__icon{
		justify-content: flex-end;
	}

	a.advantages__item{
		align-items: center;
		align-content: center;
		justify-content: center;
	}

	.advantages-page__link{
		align-self: center;
		padding-bottom: 0;
		padding-right: 20px;
	}

	.advantages-page__link svg{
		bottom: auto;
    	left: auto;
		right: 0;
		top: 50%;
		margin-top: -4.5px;
	}

	.slider-button-prev,
	.slider-button-next{
		width: 24px;
		height: 24px;
	}

	.slider-button-prev svg,
	.slider-button-next svg {
		width: 6px;
		height: 7px;
	}

	.advantages__wrap .slider-button-prev,
	.advantages__wrap .slider-button-next{
		display: flex;
	}

	.advantages__wrap .slider-button-prev{
		position: relative;
		margin-top: 30px;
		left: 0;
		top: 0;
	}

	.advantages__wrap .slider-button-next{
		top: auto;
		bottom: 0;
		right: auto;
		left: 34px;
	}


	.get-consult__wrap{
		padding: 60px 30px 0;
	}

	.get-consult__bg-wrap{
		height: 100%;
	}

	.get-consult__coll{
		width: 100%;
		padding: 0;
		margin-bottom: 20px;
	}

	.get-consult .middle-title br{
		display: none;
	}

	.get-consult__colr{
		width: calc(50% - 10px);
		padding: 0;
	}

	.get-consult__info{
		margin-top: 0;
		max-width: none;
		padding: 20px 0;
	}
	
	.get-consult__colc{
		width: calc(50% - 10px);
		/* order: 2; */
	}
	
	/* .get-consult__img{
		max-width: 360px;
	} */

	.get-consult__box{
		padding: 20px;
		min-width: 142px;
	}

	.get-consult__name{
		font-size: 16px;
		line-height: 1.3;
		text-align: center;
	}

	.get-consult__specialist{
		text-align: center;
		margin-top: 0;
		font-size: 12px;
		line-height: 1.3;
	}

	.get-consult__wrap-marg
	{
		margin-top: 20px;
	}


	.main-info__grid {
		margin: -20px 0 0 -20px;
	}

	.main-info__item {
		width: calc(100% / 2 - 20px);
		margin: 20px 0 0 20px;
		flex-grow: 1;
	}

	.main-info__title br{
		display: none;
	}


	.write-us__wrap{
		padding: 60px 30px 0;
	}

	.write-us__bg-wrap{
		height: 100%;
	}

	.write-us__coll{
		width: 100%;
		padding: 0;
		margin-bottom: 20px;
	}

	.write-us__coll-box{
		padding-bottom: 0;
	}

	.write-us__title br{
		display: none;
	}

	.write-us__coll .write-us__btn{
		display: none;
	}

	.write-us__colr .write-us__btn{
		display: inline-block;
	}

	.write-us__colc{
		width: calc(50% - 10px);
	}

	.write-us__img{
		max-width: 80%;
	}

	.write-us__img img{
		margin-left: 0;
	}

	.write-us__colr{
		width: calc(50% - 10px);
		padding: 20px 0;
		justify-content: center;
	}

	.write-us__box{
		padding: 20px;
		min-width: 142px;
		right: auto;
		left: -9px;
		margin-right: 0;
	}

	.write-us__name{
		font-size: 16px;
		line-height: 1.3;
		text-align: center;
	}

	.write-us__specialist{
		text-align: center;
		margin-top: 0;
		font-size: 12px;
		line-height: 1.3;
	}


	.reviews__bg{
		padding: 20px;
	}

	.reviews__coll{
		width: 100%;
	}

	.reviews__colr{
		width: 100%;
		padding-top: 0;
		margin-top: 40px;
	}

	.reviews__slider{
		padding-bottom: 64px;
	}

	.slider-button-next._bot{
		left: 34px;
	}


	.paint-suitable .main-title{
		padding-right: 78px;
	}

	.paint-suitable__wrap{
		margin-top: 30px;
		overflow: visible;
	}

	.paint-suitable__wrap::before{
		content: '';
		position: absolute;
		left: -20px;
		top: 0;
		width: 20px;
		height: 100%;
		background: #F9FCFF;
		z-index: 12;
	}

	.paint-suitable__wrap::after{
		content: '';
		position: absolute;
		right: -20px;
		top: 0;
		width: 20px;
		height: 100%;
		background: #F9FCFF;
		z-index: 12;
	}

	.paint-suitable__item{
		height: auto;
		padding: 34px 20px 20px;
	}

	.paint-suitable__img-abc{
		height: 145px;
	}

	.paint-suitable__img{
		width: 100%;
		padding-bottom: 0;
	}

	.paint-suitable__img span{
		aspect-ratio: auto;
		height: 214px;
		padding-bottom: 0;
	}

	.paint-suitable__img span::before{
		width: 384px;
		bottom: -24%;
	}

	.paint-suitable__img span::after {
		bottom: -26%;
		width: 240px;
	}

	.paint-suitable__info{
		width: 100%;
		padding: 0;
		margin-top: 28px;
	}

	.paint-suitable__name{
		font-size: 20px;
		line-height: 1.3;
	}

	.paint-suitable__desc{
		margin-top: 10px;
		line-height: 1.3;
	}

	.paint-suitable__arrow{
		margin-top: 20px;
	}

	.paint-suitable__arrow svg{
		fill: #CD1719;
		opacity: 1;
		left: 0;
	}

	.paint-suitable .slider-button-prev,
	.paint-suitable .slider-button-next{
		display: flex;
		top: -57px;
		margin: 0;
	}
	
	.paint-suitable .slider-button-prev{
		left: auto;
		right: 34px;
	}

	.paint-suitable .slider-button-next{
		right: 0;
	}

	.main-form__col {
   		width: calc(50% - 10px);
	}

	.main-form .form__flex .form__line._middle{
		width: 100%;
	}

	.main-form .form__flex .form__line._small{
		width: 100%;
	}

	.select-city__block{
		display: block;
	}

	.map-svg{
		width: calc(100% + 40px);
		margin-left: -20px;
	}

	.select-city__wrap{
		margin: 26px auto 0;
		width: 400px;
		max-width: 100%;
	}

	
	.partners__slider{
		margin-top: 65px;
	}

	.partners__slide{
		margin-right: 30px;
	}

	.partners__status{
		left: -10%;
	}

	.projects__btn{
		order: 3;
		margin: 30px 0 0;
	}

	.projects__slider .slider-button-prev,
	.projects__slider .slider-button-next{
		top: -57px;
		margin: 0;
	}

	.projects__slider .slider-button-prev{
		left: auto;
		right: 34px;
	}

	.projects__slider .slider-button-next{
		right: 0;
	}

	.slider-button-prev._top{
		top: -57px;
		right: 34px;
	}

	.slider-button-next._top{
		top: -57px;
	}


	.main-articles__name {
		margin-top: 16px;
		line-height: 1.3;
		font-size: 16px;
	}

	.main-articles__desc{
		margin-top: 10px;
		line-height: 1.3;
	}

	.main-articles__arrow{
		display: none;
	}


	.footer__coll {
		width: 212px;
	}

	.footer-menu{
		padding-top: 116px;
		margin-right: 0;
		column-gap: 25px;
	}

	.footer__bot{
		margin-top: 30px;
		padding-top: 30px;
	}

	.footer__bot-box{
		margin-top: 30px;
		width: 100%;
		justify-content: space-between;
	}

	.footer__policy{
		margin-right: 0;
	}

	.form__agree a{
		border-bottom-color: currentColor;
	}

	.main-form__img.loaded{
		opacity: 1;
	}

	.our-team{
		position: relative;
	}

	.our-team__slider{
		width: 100%;
		overflow: visible;
		position: static;
	}

	.our-team__item{
		border-radius: 4px;
		background: #fff;
	}

	.our-team__slider .swiper-slide{
		width: 280px;
		height: auto;
	}

	.our-team__box{
		padding: 20px;
	}

	.our-team__name{
		font-size: 16px;
		line-height: 1.3;
	}

	.our-team__position{
		font-size: 12px;
		line-height: 1.3;
		margin-top: 7px;
	}

	.our-team__grid .our-team__name{
		font-size: 16px;
	}

	.our-team__grid .our-team__position{
		font-size: 12px;
	}

	.our-team__slider .slider-button-prev,
	.our-team__slider .slider-button-next{
		display: flex;
		top: 4px;
	}

	.our-team__slider .slider-button-prev{
		right: 54px;
	}
	.our-team__slider .slider-button-next{
		right: 20px;
	}

	.tabs._flex{
		gap: 20px;
	}


	.development__slider{
		padding-right: 0;
	}

	.development__slider .swiper-slide{
		opacity: 1 !important;
	}

	.development__slider .swiper-slide-prev,
	.development__slider .swiper-slide-next{
		opacity: 1 !important;
	}

	.development__slider .swiper-slide-active{
		opacity: 1 !important;
	}


	.our-team__grid {
		margin-left: -20px;
		gap: 20px 0;
	}

	.our-team__grid .our-team__item {
		width: calc(100% / 3 - 20px);
		margin-left: 20px;
	}

	.teams-leed__coll{
		width: 45%;
	}
	
	.teams-leed__colr{
		width: 55%;
	}

	.teams-leed__slider .swiper-slide {
		min-height: 200px;
	}

	.teams-leed__img{
		top: 20px;
	}


	.contacts__sector{
		padding: 20px;
	}

	.contacts__items{
		margin-top: 20px;
	}

	.contacts__label{
		font-size: 12px;
		line-height: 1.3;
		margin-bottom: 5px;
	}

	.contacts__line + .contacts__line{
		margin-top: 20px;
	}

	.contacts__info{
		font-size: 10px;
		line-height: 2;
		margin-top: 5px;
	}

	.contacts__title br{
		display: none;
	}

	.map{
		min-height: 1px;
		padding: 0;
	}

	.map__wrap{
		position: relative;
		width: 100%;
	}

	.map__item{
		position: relative;
		height: 270px;
		margin-top: 20px;
	}

	.map__title{
		line-height: 1.2;
	}

	.map__subtitle{
		font-size: 10px;
		line-height: 1.3;
	}

	.inner-title{
		font-size: 36px;
	}

	.page-article__text-block * + h3{
		margin-top: 30px;
	}


	.tg-banner__wrap{
		padding-left: 20px;
		padding-right: 20px;
	}

	.tg-banner__title{
		font-size: 26px;
		max-width: 360px;
	}

	.tg-banner__btn{
		margin-top: 30px;
	}


	.main-article{
		margin-top: 60px;
	}

	.main-article__cat{
		padding: 0 19px;
		line-height: 36px;
	}

	.main-article__col {
    	width: 70%;
	}

	.main-article__top {
    	gap: 18px 20px;
	}


	.articles__grid{
		margin-left: -20px;
	}

	.articles__grid .article {
		width: calc(100% / 3 - 20px);
		margin-left: 20px;
	}

	.articles__grid .article-product {
		width: calc(100% / 3 - 20px);
		margin-left: 20px;
	}

	.article-product{
		padding: 0;
		background: none;
	}

	.article__items{
		width: 100%;
	}

	.article__item_nomob{
		display: none;
	}

	.article__name{
		font-size: 16px;
		line-height: 1.3;
	}

	.article__desc{
		display: none;
	}

	.article__cats{
		display: none;
	}

	.articles__top .select-wrap .nice-select .current{
		font-size: 14px;
		line-height: 36px;
		height: 38px;
	}

	.articles__top .select-wrap .nice-select .list .list_item{
		font-size: 14px;
	}

	.wrap-btn{
		margin-top: 30px;
	}

	.article-product__top{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.article-product__title{
		font-size: 30px;
		width: 100%;
		order: 2;
	}

	.article-product__title span{
		font-size: 20px;
	}

	.article-product__img{
		margin-top: 0;
		margin-bottom: 20px;
	}

	.article-product__desc{
		margin-top: 20px;
		font-size: 16px;
		line-height: 1.3;
	}

	.article-product__btn{
		margin-top: 20px;
	}
	/*------------
		commit
	------------*/

	.success-stories-slider .swiper-overflow{
		overflow: visible;
	}

	.page-title span 
	{
		font-size: 28px;
	}

	.main-banner
	{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
	}

	.main-banner .breadcrumbs 
	{
		position: relative;
		bottom: 0;

		order: 1;
		padding: 25px 0 30px;
	}

	.main-banner__wrap
	{
		order: 2;
		width: 100%;

		min-height: 350px;
		padding-top: 45px;
		padding-bottom: 45px;
	}

	.main-banner__big-text 
	{
		display: none;
	}


	.links-nav.mini-modal
	{
		padding: 0;
	}

	.page-nav
	{
		margin-top: -30px;
	}

	.page-nav__btn
	{
		display: block;
	}

	.links-nav__items.mini-modal__modal
	{
		position: absolute;
		top: 0;
		top: calc(100% + 5px);
	
		visibility: hidden;
	
		pointer-events: none;
	
		opacity: 0;
		display: block;
		background: #fff;
		padding: 20px;
		width: 100%;
		border-radius: 4px;
	}

	.links-nav__items.mini-modal__modal._active
	{
		visibility: visible;

		pointer-events: auto;

		opacity: 1;
	}

	.links-nav__item
	{
		font-size: 14px;
	}

	.links-nav__item a {
		height: 56px;
	}

	.links-nav__items.mini-modal__modal .links-nav__item a
	{
		justify-content: flex-start;
		text-align: left;
		height: auto;
		padding-bottom: 10px;
	}

	.links-nav__item + .links-nav__item{
		margin-left: 20px;
	}

	.links-nav__items.mini-modal__modal .links-nav__item + .links-nav__item
	{
		margin-left: 0;
		margin-top: 25px;
	}

	.confessions__item
	{
		width: calc(100% / 2 - 25px);
	}

	.confessions__item._hover-item::before
	{
		opacity: 1;
		pointer-events: all;
		height: 100%;
	}

	.confessions__item._big .confessions__top 
	{
		aspect-ratio: 864 / 470;
	}

	.confessions__item._big .confessions__info
	{
		padding: 20px 20px 0;
	}

	.confessions__btn
	{
		position: relative;
		top: 0;

		display: block;
		padding: 0 20px 20px;
	}


	.history-main__item:first-child
	{
		padding-right: 30px;
	}

	.history-main__item:last-child
	{
		padding-left: 30px;
	}

	.history-main__img
	{
		margin-top: 60px;
	}

	.history-main__year
	{
		font-size: 38px;
	}

	.history-main__text
	{
		margin-top: 45px;
	}

	.history-main__circle
	{
		top: 6px;
		right: -13px;
		width: 26px;
		height: 26px;
	}

	.history-main__items:not(:nth-child(-n+1)) .history-main__circle
	{
		top: 8px;
	}

	.history-main__item:nth-child(even) .history-main__circle
	{
		left: -13px;
	}


	.about-info__img
	{
		width: 100%;
	}

	.about-info__wrap
	{
		width: 100%;
		padding: 0;
		margin-top: 30px;
	}


	.history__slider
	{
		margin-top: 30px;
	}

	.history__slider .slider-button-next,
	.history__slider .slider-button-prev
	{
		top: 0;
		margin-top: -58px;
	}

	.history__slider .slider-button-prev
	{
		right: 34px;
	}

	.history-thumbs .swiper-slide-thumb-active .history-thumbs__year 
	{
		font-size: 24px;
	}

	.history-thumbs__item:last-child::before
	{
		position: absolute;
		content: '';
		bottom: 13px;
		right: 0;

		display: block;

		width: 25px;
		height: 3px;

		background: #F9FCFF;
	}


	.history__wrap
	{
		padding-right: 0;
		width: calc(100% + 20px);
		margin-right: -20px;
	}

	.history-thumbs::before
	{
		width: calc(100% - 5px);
	}

	.history-main__title 
	{
		font-size: 24px;
	}


	.text-block h2
	{
		font-size: 26px;
		line-height: 1.2;
	}


	.download-present
	{
		margin-top: 60px;
	}

	.download-present__coll 
	{
		width: calc(40% - 15px);
	}

	.download-present__wrap
	{
		padding: 60px 30px 0;
	}

	.download-present__bg-wrap
	{
		height: 100%;
	}

	.download-present__colr
	{
		padding-top: 0;
		width: calc(60% - 15px);

		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.download-present__box
	{
		padding: 20px 0;
	}

	.download-present__title 
	{
		font-size: 26px;
	}

	.download-present__btn
	{
		margin-top: 20px;
	}


	.stc-section__w
	{
		width: 100%;
		float: none;
	}

	.stc-section__box
	{
		width: 100%;
		max-width: 440px;
		padding-top: 0;
		margin-right: auto;
		float: none;
		margin-top: 30px;
	}

	.stc-section__note
	{
		font-size: 16px;
		padding-left: 70px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.stc-section__note::before
	{
		width: 40px;
		height: 40px;

		margin-top: -20px;
	}

	.stc-services_marg
	{
		margin-top: 30px;
	}

	.stc-services__items-marg
	{
		margin-top: 0;
	}

	.stc-services__name 
	{
        font-size: 18px;
    }


	.our-production__coll
	{
		width: 100%;
	}

	.our-production__colr
	{
		width: 100%;
		margin-top: 57px;
	}


	.info-banner__wrap
	{
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.achiev-awards__wrap
	{
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.achiev-awards__info-box
	{
		position: relative;
	}

	.achiev-awards__slider
	{
		padding-left: 0;
		margin-top: 30px;
		padding-bottom: 64px;
	}

	.achiev-awards__slider .slider-button-prev
	{
		width: 34px;
		height: 34px;
	}

	.achiev-awards__slider .slider-button-next
	{
		width: 34px;
		height: 34px;
	}

	.achiev-awards__slider .slider-button-prev svg, 
	.achiev-awards__slider .slider-button-next svg 
	{
		width: 9px;
		height: 11px;
	}


	.accord-box__open
	{
		padding-top: 24px;
		padding-bottom: 24px;
	}

	.accord-box__btn
	{
		width: 36px;
		height: 36px;
	}

	.accord-box__btn::after
	{
		width: 11px;
	}

	.accord-box__btn::before
	{
		height: 11px;
	}

	.accord-box__item
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}


	.section-top__btn
	{
		display: none;
	}


	.vacancies__slider .slider-button-next
	{
		top: 0;
        margin-top: -58px;
		right: 0;
	}

	.vacancies__slider .slider-button-prev 
	{
		left: auto;
		right: 34px;
		top: 0;
        margin-top: -58px;
	}

	.vacancies__mob-btn
	{
		display: block;
	}


	.stc-info__coll 
	{
		width: calc(46% - 12px);
	}

	.stc-info__colr 
	{
		width: calc(54% - 12px);
	}

	.stc-info__wrap
	{
		margin-top: 30px;
		padding-bottom: 54px;
		width: calc(100% + 20px);
		margin-right: -20px;
	}

	.stc-info__item
	{
		width: 280px;
		height: auto;
	}

	.stc-info__wrap .slider-button-next
	{
		display: flex;

		right: auto;
		left: 34px;
		top: auto;
		margin-top: 0;
		bottom: 0;
	}

	.stc-info__wrap .slider-button-prev
	{
		display: flex;
		left: 0;
		top: auto;
		margin-top: 0;
		bottom: 0;
	}


	.development__coll
	{
		width: 100%;
	}

	.development__items
	{
		margin-top: 0;
	}

	.development__item
	{
		margin-top: 20px;
	}

	.development__fact
	{
		margin-top: 20px;
	}

	.development__colr
	{
		width: 100%;
		margin-top: 20px;
	}

	.development__fact-img
	{
		top: 2px;
		right: -42px;
        aspect-ratio: 1 / 0.8;
	}


	.development__slider
	{
		padding-right: 0;
		padding-bottom: 54px;
	}

	.development__slider .slider-button-next
	{
		right: 0;
		bottom: 0;
	}

	.development__slider .slider-button-prev
	{
		right: 34px;
		bottom: 0;
	}


	.get-consult .stc-services__item 
	{
		aspect-ratio: 550 / 240;
	}

	.form-recommend__title
	{
		font-size: 36px;
	}


	.career-sect__top
	{
		flex-wrap: wrap;
	}

	.career-sect__text
	{
		width: 100%;
		max-width: 100%;
		margin-top: 20px;
	}

	.career-sect__bg
	{
		margin-top: 30px;
	}


	.career-sect__items
	{
		margin-left: -20px;
	}

	.career-sect__item
	{
		width: calc(100% / 2 - 20px);
		margin-top: 20px;
		margin-left: 20px;
	}


	.info-banner__bg
	{
		object-position: 86%;
	}

	.career-banner__wrap
	{
		min-height: 1px;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.career-banner__text
	{
		margin-top: 20px;
	}


	.employ-process__top
	{
		flex-wrap: wrap;
		margin-right: 0;
	}

	.employ-process__text
	{
		margin-top: 20px;
		max-width: 100%;
		width: 100%;
	}

	.employ-process__slider
	{
		margin-top: 30px;
		padding-top: 54px;
	}

	.employ-process__slider .swiper-overflow
	{
		overflow: visible;
	}

	.employ-process__slider .slider-button-prev._top,
	.employ-process__slider .slider-button-next._top
	{
		top: 0;
	}

	.employ-process__item
	{
		width: 280px;
	}
	

	.vacancies-inner .middle-title
	{
		font-size: 24px;
	}

	.vacancies-inner__item + .vacancies-inner__item
	{
		padding-top: 0;
		margin-top: 30px;
	}


	.form__flex .form__line 
	{
		width: calc(100% / 2 - 7px);
	}


	.success-stories-slider .our-team__name
	{
		font-size: 16px;
	}

	.success-stories-slider .our-team__item
	{
		width: 280px;
		height: auto;
	}
}