@media (max-width: 479px)
{
	.achievements__item {
		min-height: 200px;
	}

	.achievements__number1 {
		top: -6px;
		left: 15px;
		font-size: 140px;
    }

	.achievements__number2 {
		top: -22px;
		right: -36px;
		font-size: 138px;
	}
	
	.achievements__number3 {
		top: -17px;
		right: -19px;
		font-size: 135px;
	}

	.achievements__number4 {
		top: -17px;
		right: -37px;
		font-size: 135px;
	}

	.achievements__info-w{
		min-width: 1px;
	}

	.achievements__name{
		font-size: 26px;
		line-height: 1.2;
	}

	.achievements__item:first-child .achievements__desc{
		font-size: 12px;
	}

	.achievements__desc{
		font-size: 14px;
		line-height: 1.3;
		margin-top: 10px;
	}

	.achievements__map-img{
		right: auto;
		left: 60px;
		top: -110px;
	}

	.achievements__desc-size{
		max-width: 165px;
	}


	.new-partners__desc{
		max-width: 220px;
	}

	.main-info__info{
		margin-top: 20px;
		line-height: 1.3;
	}

	.text-block p{
		margin-bottom: 19px;
	}

	.main-info__info p + p{
		margin-top: 19px;
	}

	.main-info__btn{
		padding-top: 20px;
	}


	.write-us__desc{
		line-height: 1.3;
	}

	.write-us__abc 
	{
		top: 25%;
		left: 39%;
		width: 53%;
		height: 98%;
	}

	.main-form__title{
		line-height: 1.2;
	}

	.tabs._flex{
		display: block;
	}

	.tabs-text + .tabs-text{
		margin-top: 10px;
	}


	.page-article__img{
		min-height: 197px;
		object-fit: cover;
		object-position: 40% 50%;
	}

	.page-article__img{
		margin-top: 30px;
	}


	.articles__top .select-wrap{
		flex-grow: 1;
	}
	/*------------
		commit
	------------*/

	.confessions__item:nth-child(n + 5)
	{
		margin-top: 10px;
	}

	.confessions__small-year
	{
		font-size: 12px;
		margin-top: 10px;
	}

	.confessions__bot
	{
		margin-top: 20px;
		padding-top: 30px;
	}


	.history-main__title 
	{
		font-size: 20px;
	}


	.about-info__img img
	{
		aspect-ratio: 350 / 262;
	}

	.about-info__icon
	{
		width: 60px;
	}

	.about-info__icon-img
	{
		padding: 16px;
	}

	.about-info__box, 
	.about-info__slider .slider-pagination, 
	.about-info__files 
	{
        width: calc(100% - 80px);
    }

	.about-info__title
	{
		font-size: 20px;
	}

	.about-info__file
	{
		font-size: 16px;
	}


	.history-thumbs .swiper-slide-thumb-active .history-thumbs__year
	{
		font-size: 20px;
	}


	.download-present__coll img
	{
		aspect-ratio: 290 / 271;
	}

	
	.stc-section__grid
	{
		margin-left: -10px;
		margin-top: 10px;
	}

	.stc-section__item 
	{
		width: calc(100% / 2 - 10px);
		margin-top: 10px;
		margin-left: 10px;
	}

	.stc-section__desc
	{
		margin-top: 20px;
	}

	.stc-section__note
	{
		line-height: 1.3;
	}

	.stc-section__box
	{
		width: 100%;
	}
	
	.employee-item__info
	{
		width: 80%;
	}

	.employee-item__spec
	{
		margin-top: 10px;
	}

	.stc-services__item
	{
		aspect-ratio: 350 / 200;
	}

	.stc-services__name
	{
		font-size: 20px;
	}


	.our-production__item 
	{
		width: calc(100% / 1 - 15px);
		margin-top: 10px;
		padding: 20px;
	}

	.our-production__name
	{
		margin-top: 20px;
	}

	.our-production__img
	{
		aspect-ratio: 350 / 262;
	}


	.info-banner__bg
	{
		object-position: 76%;
	}


	.achiev-awards__item
	{
		aspect-ratio: 1 / .893;
	}

	.achiev-awards__name
	{
		font-size: 26px;
	}

	.achiev-awards__abc 
	{
		top: -51px;
		left: 50%;
		right: auto;
		margin-left: -85px;
		margin-right: 0;
	}

	.achiev-awards__abc img 
	{
		width: 653px;
		height: 611px;
	}

	.achiev-awards__year 
	{
		margin-top: 25px;
		font-size: 16px;
	}


	.accord-box__title
	{
		font-size: 20px;
	}


	.main-banner__bg
	{
		object-position: 100%;
	}


	.development__fact
	{
		padding: 20px;
	}

	.development__fact-title
	{
		font-size: 20px;
	}

	.development__fact-val
	{
		margin-top: 24px;
	}

	.development__fact-img 
	{
		top: 14px;
		right: -65px;
		aspect-ratio: 1 / 0.73;

		min-width: 70px;
	}

	.development__img 
	{
		aspect-ratio: 1 / .749;
	}


	.advantages__slider .advantages__name
	{
		padding-bottom: 10px;
	}


	.get-consult .stc-services__item 
	{
		aspect-ratio: 550 / 315;
	}

	.stc-services__img
	{
		object-position: 86%;
	}


	.stc-info__coll
	{
		width: 100%;
	}


	.form-recommend__flex
	{
		flex-wrap: wrap;
	}

	.form-recommend .form .form__input
	{
		width: 100%;
		height: 44px;
	}

	.form-recommend__flex .form__submit-btn
	{
		margin-left: 0;
		margin-top: 15px;
	}


	.accord-box__title
	{
		font-size: 16px;
	}

	.accord-box__open 
	{
		padding-top: 16px;
		padding-bottom: 16px;
	}

	.vacancies-inner__btn
	{
		margin-top: 10px;
	}


	.form.app-quest__form .form__input
	{
		height: 36px;
	}

	.form .form__input
	{
		font-size: 12px;
	}

	.form .form__textarea
	{
		font-size: 12px;
	}

	.form__agree .checkbox__text
	{
		font-size: 12px;
	}

	.file-selection__path{
		height: 36px;
		line-height: 34px;
		padding-left: 15px;
		padding-right: 46px;
		font-size: 12px;
	}

	.file-selection__path svg{
		right: 15px;
		width: 16px;
		height: 16px;
		margin-top: -8px;
	}


	.brand-guide__open
	{
		font-size: 14px;
	}

	.brand-guide__open span::after
	{
		top: 6px;
		width: 10px;
		height: 6px;
	}

	.brand-guide__item
	{
		padding-top: 40px;
	}

	.brand-guide__logo
	{
		height: 38px;
	}

	.brand-guide__list
	{
		font-size: 16px;
	}


	.paints-var.paints-var_inner .paints-var__item
	{
		width: calc(100% / 1 - 10px);
		padding: 10px;
		align-items: center;
		align-content: center;
	}

	.paints-var.paints-var_inner .paints-var__img-box
	{
		width: 70px;
		height: 70px;
		flex-shrink: 0;
		padding-bottom: 0;
		padding: 5px;
	}

	.paints-var.paints-var_inner .paints-var__img-box::before
	{
		display: none;
	}

	.paints-var.paints-var_inner .paints-var__name-box
	{
		width: calc(100% - 90px);
		margin-left: 20px;
		padding-bottom: 0;
	}

	.paints-var.paints-var_inner .paints-var__name
	{
		text-align: left;
	}
	

	.brand-info__open-tabs
	{
		font-size: 14px;
	}

	.brand-info__open-tabs span::after
	{
		top: 7px;
		width: 11px;
		height: 6px;
	}


	.brand-info__img
	{
		padding: 12%;
	}

	.brand-info__bot
	{
		padding-top: 18px;
	}

	.brand-info__list li + li
	{
		margin-top: 7px;
	}

	.brand-info__bot-col + .brand-info__bot-col,
	.brand-info__bot-item + .brand-info__bot-item
	{
		margin-top: 18px;
	}

	.brand-info__bot-desc 
	{
		margin-top: 7px;
	}

	.brand-info__btns
	{
		margin-left: 0;
		margin-top: 8px;
	}

	.brand-info__btns a
	{
		width: 100%;
		margin-left: 0;
		margin-top: 10px;
	}

	.brand-info__note
	{
		font-size: 12px;
		line-height: 1.3;
	}
}


@media (max-width: 389px)
{
	.development__fact-val 
	{
		font-size: 32px;
	}
}